# Configuration file

general {
    # Min: 0
    # Max: 2147483647
    I:"Aluminum Ore Drop Amount"=5

    # Min: 0
    # Max: 2147483647
    I:"Aluminum Ore Spawn Chance"=18

    # Min: 0
    # Max: 2147483647
    I:"Ardite Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Ardite Ore Spawn Chance"=65

    # Min: 0
    # Max: 2147483647
    I:"Certus Ore Drop Amount"=6

    # Min: 0
    # Max: 2147483647
    I:"Certus Ore Spawn Chance"=38

    # Min: 0
    # Max: 2147483647
    I:"Coal Ore Drop Amount"=5

    # Min: 0
    # Max: 2147483647
    I:"Coal Ore Spawn Chance"=26

    # Min: 0
    # Max: 2147483647
    I:"Cobalt Ore Drop Amount"=3

    # Min: 0
    # Max: 2147483647
    I:"Cobalt Ore Spawn Chance"=65

    # Min: 0
    # Max: 2147483647
    I:"Copper Ore Drop Amount"=5

    # Min: 0
    # Max: 2147483647
    I:"Copper Ore Spawn Chance"=18

    # Setting any Ore Drop Chance to 0 will disable them from dropping
    # Min: 0
    # Max: 2147483647
    I:"Diamond Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Diamond Ore Spawn Chance"=12

    # Min: 0
    # Max: 2147483647
    I:"Emerald Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Emerald Ore Spawn Chance"=10

    # Min: 0
    # Max: 2147483647
    I:"Gold Ore Drop Amount"=6

    # Min: 0
    # Max: 2147483647
    I:"Gold Ore Spawn Chance"=15

    # Min: 0
    # Max: 2147483647
    I:"Iridium Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Iridium Ore Spawn Chance"=8

    # Min: 0
    # Max: 2147483647
    I:"Iron Ore Drop Amount"=6

    # Min: 0
    # Max: 2147483647
    I:"Iron Ore Spawn Chance"=24

    # Min: 0
    # Max: 2147483647
    I:"Lapis Ore Drop Amount"=9

    # Min: 0
    # Max: 2147483647
    I:"Lapis Ore Spawn Chance"=14

    # Min: 0
    # Max: 2147483647
    I:"Lead Ore Drop Amount"=6

    # Min: 0
    # Max: 2147483647
    I:"Lead Ore Spawn Chance"=17

    # Min: 0
    # Max: 2147483647
    I:"Nickel Ore Drop Amount"=6

    # Min: 0
    # Max: 2147483647
    I:"Nickel Ore Spawn Chance"=18

    # Min: 0
    # Max: 2147483647
    I:"Osmium Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Osmium Ore Spawn Chance"=18

    # Min: 0
    # Max: 2147483647
    I:"Platinum Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Platinum Ore Spawn Chance"=15

    # Min: 0
    # Max: 2147483647
    I:"Quartz Ore Drop Amount"=5

    # Min: 0
    # Max: 2147483647
    I:"Quartz Ore Spawn Chance"=25

    # Min: 0
    # Max: 2147483647
    I:"Redstone Ore Drop Amount"=9

    # Min: 0
    # Max: 2147483647
    I:"Redstone Ore Spawn Chance"=12

    # Min: 0
    # Max: 2147483647
    I:"Silver Ore Drop Amount"=5

    # Min: 0
    # Max: 2147483647
    I:"Silver Ore Spawn Chance"=16

    # Min: 0
    # Max: 2147483647
    I:"Tin Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Tin Ore Spawn Chance"=18

    # Min: 0
    # Max: 2147483647
    I:"Uranium Ore Drop Amount"=5

    # Min: 0
    # Max: 2147483647
    I:"Uranium Ore Spawn Chance"=15

    # Min: 0
    # Max: 2147483647
    I:"Yellorite Ore Drop Amount"=4

    # Min: 0
    # Max: 2147483647
    I:"Yellorite Ore Spawn Chance"=20
}


